@media (min-width: 375px) {
    body {
        width: 37.5rem;
    }
    
    .container {
        width: 33.5rem; 
    }
}

@media (min-width: 425px) {
    body {
        width: 42.5rem;
    }
    
    .container {
        width: 33.5rem; 
    }
}

/* Check settings for other size screens. For portfolio page. */

@media (min-width: 768px) {
    body {
        width: 76.8rem;
    }
    
    .container {
        width: 70.0rem; 
    }

    .mainPortfolio {
        display: flex;
        flex-wrap: wrap;
    }  
    
    .sectionPortfolio {
        width: 40%;
    }

    .fa-arrow-up-from-bracket {
        right: 2rem;
        bottom: 8rem;
    }

    .fa-rotate-left {
        right: 2rem;
        bottom: 2rem;
    }
}

@media (min-width: 1024px) {
    body {
        width: 102.4rem;
    }
    
    .container {
        width: 95rem; 
    }

    .sectionPortfolio {
        width: 28%;
    }

    .fa-arrow-up-from-bracket {
        right: 2rem;
        bottom: 8rem;
    }

    .fa-rotate-left {
        right: 2rem;
        bottom: 2rem;
    }
}

@media (min-width: 1440px) {
    body {
        width: 144.0rem;
    }
    
    .container {
        width: 33.5rem; 
    }

    .fa-arrow-up-from-bracket {
        right: 47rem;
        bottom: 8rem;
    }

    .fa-rotate-left {
        right: 47rem;
        bottom: 2rem;
    }
}