@media (min-width: 375px) {
    body {
        width: 37.5rem;
    }
    
    .container {
        width: 33.5rem; 
    }
}

@media (min-width: 425px) {
    body {
        width: 42.5rem;
    }
    
    .container {
        width: 33.5rem; 
    }
}

/* check settings for other size screens. */

/* @media (min-width: 768px) {
    body {
        width: 76.8rem;
    }
    
    .container {
        width: 72.8rem; 
    }

    .mainPortfolio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .sectionPortfolio {
        width: 33.5rem;
    }
}

@media (min-width: 1024px) {
    body {
        width: 102.4rem;
    }
    
    .container {
        width: 98.4rem; 
    }

    .mainPortfolio {
        display: flex;
        flex-wrap: wrap;
    }

    .sectionPortfolio {
        width: 33.5rem;
    }
}

@media (min-width: 1440px) {
    body {
        width: 144.0rem;
    }
    
    .container {
        width: 140.0rem; 
    }

    .mainPortfolio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .sectionPortfolio {
        width: 33.5rem;
    }
} */